* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

div {
  border: 1px solid gray;
  border-radius: 5px;
  width: 75vmin;
  padding-bottom: 10px;
  margin: 20px auto;
}

h1 {
  margin: 1.5%;
}

ul {
  text-align: left;
}

li {
  margin: 10px 20%;
}

li button {
  font-size: 0.9rem;
  margin-left: 20px;
}
